<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Password</title>
</head>
<body>
<h1 style="color:blue">Hello, {{user.username}} </h1>
<h1 style="color:red"> {{user.message}} </h1>

<form method="post" action="{% url 'forget-pass-change' %}">
    {% csrf_token %}

    <table>
        <tr style="display:none;">
        <td>Your username is : </td>
        <td><input type="text" name="username" value="{{user.username}}" placeholder="{{user.username}}" readonly></td>
    </tr>

    <tr>
        <td>Enter New password : </td>
        <td><input type="password" name="newpassword"></td>
    </tr>

    <tr>
        <td>Enter confirm password : </td>
        <td><input type="password" name="confirmpassword"></td>
    </tr>

    <tr>
        <td colspan="2"><input type="submit" value="Submit" name="submit"></td>
    </tr>
    </table>

</form>
</body>
</html>